.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  color: #007bff; /* Adjust spinner color */
}